variantgenerator-script/Service References/ServiceReference/VariantGenService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GraphLabs.WcfServices.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GraphLabs.WcfServices.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TaskVariantDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="GeneratorVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaskId" type="xs:long" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaskVariantDto" nillable="true" type="tns:TaskVariantDto" />
</xs:schema>